@model IEnumerable<WebParqueadero.Models.TipoVehiculos>
@using WebParqueadero.Models;

@{
    ViewBag.Title = "Lista tipo de vehiuclos";
}
<link href="~/Content/cssSBAdmin/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Scripts/jsSBAdmin/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="card shadow mb-4 my-2">
        <div class="card-header py-3">
            @*<h6 class="col-sm-2 col-md-2 col-lg-2 font-weight-bold text-primary">Tipos Vehiculos</h6>*@
            <div class="col-sm-12 col-md-12 col-lg-12">
                <button type="button" id="idCrearTipoVehiculosbtn" onclick="CrearTipoVehiculos()" class="btn btn-outline-success btn-sm btn-block col-sm-2" title="Crear nuevo tipo">
                    <i class="fas fa-plus"></i>
                    Crear nuevo tipo
                </button>
            </div>
        </div>
        <div class="card-body">
            @*<div class="col-12 col-sm-12 col-md-12">
                    @Html.Partial("_MensajeErrorViewParial")
                </div>*@
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CaracterImagen_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Valor_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado_TVeh)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CaracterImagen_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Valor_TVeh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado_TVeh)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre_TVeh)
                                </td>
                                <td>
                                    <img src="@string.Format("/Imagenes/{0}.svg", item.CaracterImagen_TVeh)" alt="Error al cargar la imagen" class="offset-1" style="max-width: 100%" width="60" height="50" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion_TVeh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Valor_TVeh)
                                </td>
                                <td>
                                    @if (item.Estado_TVeh)
                                    {
                                        <p style="text-transform:uppercase">Activo</p>
                                    }
                                    else
                                    {
                                        <p style="text-transform:uppercase">Inactivo</p>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-outline-primary" onclick="ModalEditar('@item.Id_TVeh')"><i class="fas fa-edit"></i></button>
                                    </div>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id_TVeh }, new { @class = "btn btn-primary" })*@
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id_TVeh }, new { @class = "btn btn-secondary" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_TVeh }, new { @class = "btn btn-secondary" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="idModalEditar"></div>
    @{
        TipoVehiculos tipoVehiculos = new TipoVehiculos();
    }
    @Html.Partial("_ModalCrearViewPartial", tipoVehiculos)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        var MensajeError = `@Html.ValidationSummary(true,"", new { @class = "text-danger" })`;

        if (MensajeError != "") {
            $("#idShowMensajeError").addClass("show");
            $("#IdMensajeError").html(MensajeError);
        } else {
            //$('#idShowMensajeError').alert('close');
            $('#idShowMensajeError').hide();
        }


        function ModalEditar(Id_TVeh) {
            var urlEditar = ('@Url.Action("Edit","TipoVehiculos")' + '?id='+Id_TVeh);

            $.ajax({
                type: "GET",
                url: urlEditar,
                async: false,
                success: function (data) {
                    $("#idModalEditar").empty();
                    $("#idModalEditar").html(data);
                    $('#idEditarTipoVehiculo').modal("show");
                }
            })
        }

        function CrearTipoVehiculos() {
            $('#idCrearTipoVehiculo').modal("show");
        }


    </script>

}
