@model WebParqueadero.Models.Documento

@Html.HiddenFor(m => m.Id_Doc, new { @class = Model.Vehiculo.Placa_Veh})

<div class="row  bg-secondary">
    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="far fa-credit-card"></i> PLACA :</h6></div>
    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-right text-uppercase">@Model.Vehiculo.Placa_Veh</h6></div>
</div>
<div class="row  bg-secondary">
    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-hourglass-start"></i> LLEGADA : </h6></div>
    <div class="col-4 col-sm-4 col-md-4"  title="hh:mm"><h6 class="text-white text-right text-uppercase">@Html.DisplayFor(m => Model.DetalleDocumento.FirstOrDefault().Horas_DDoc)</h6></div>
</div>
<div class="row  bg-secondary">
    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-hourglass-end"></i> DURACIÓN : </h6></div>
    <div class="col-4 col-sm-4 col-md-4" title="hh:mm"><h6 class="text-white text-right text-uppercase">@Html.DisplayFor(m => Model.DetalleDocumento.FirstOrDefault().Transcurrido_DDoc)</h6></div>
</div>
<div class="row  bg-secondary">
    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-dollar-sign"></i> Valor : </h6></div>
    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-right text-uppercase">@Html.DisplayFor(m => Model.Valor_Doc)</h6></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
