<!DOCTYPE html>
@using WebParqueadero.Models;
@using Microsoft.AspNet.Identity
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/SBAdmin/css")
    @Styles.Render("~/Content/fontawesome-free-5.12.1-web/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/fontawesome-free-5.12.1-web/js")

</head>
<body id="page-top">
    <div id="wrapper">
        @if (Request.IsAuthenticated)
        {
            WebParqueaderoContext db = new WebParqueaderoContext();
            string idUsuario = User.Identity.GetUserId();
            ParqueaderoUsuarioDetalle parqueaderoUsuarioDetalle = db.ParqueaderoUsuarioDetalle.Where(t => t.IdUser_PUD == idUsuario).FirstOrDefault();
            Parqueadero parqueadero = db.Parqueaderoes.Find(parqueaderoUsuarioDetalle.Id_Parq);
            var ltsDocumentos = db.Documento.ToList();
            ltsDocumentos = ltsDocumentos.Where(t => t.Id_Parq == parqueadero.Id_Parq && t.FechaCreacion_Doc.Date == DateTime.Now.Date && t.Estado_Doc == true).ToList();

        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home/Index" title="PARQUEADERO - @parqueadero.NombreEmpresa_Parq.ToUpper()">
                <div class="sidebar-brand-icon">
                    <img src="~/Imagenes/parking-solid.svg" width="50" height="50" class="d-inline-block align-top" />
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size: 100%">@parqueadero.NombreEmpresa_Parq.ToUpper()</div>
            </a>


            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-building"></i>
                    <span>Inicio</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Heading -->
            <div class="sidebar-heading">
                <i class="fas fa-tools"></i>
                Configurar
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Edit","Parqueadero", new { id = parqueadero.Id_Parq})">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Parqueadero</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/TipoVehiculos/Index">
                    <i class="fas fa-tractor"></i>
                    <span>Tipos Vehiculos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Heading -->
            <div class="sidebar-heading">
                <i class="fas fa-chart-line"></i>
                Reportes
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="~/Reportes/Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Ventas</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">

                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        @if (ltsDocumentos.Count > 0)
                        {
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" id="idBuscarPlaca" placeholder="Buscar Vehiculos..." aria-label="Search" aria-describedby="basic-addon2" title="Ingrese placa para buscar">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button" onclick="BuscarPlaca()">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            @Html.Partial("_LoginPartial")

                        </ul>

                    </nav>

                    <div class="container-fluid body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - Desarrollado por Cjs</p>
                        </footer>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="container-fluid body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Desarrollado por Cjs</p>
                </footer>
            </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/SBAdmin/js")
    @RenderSection("scripts", required: false)
</body>

@*<body>
        @if (Request.IsAuthenticated)
        {
            WebParqueaderoContext db = new WebParqueaderoContext();
            string idUsuario = User.Identity.GetUserId();
            ParqueaderoUsuarioDetalle parqueaderoUsuarioDetalle = db.ParqueaderoUsuarioDetalle.Where(t => t.IdUser_PUD == idUsuario).FirstOrDefault();
            Parqueadero parqueadero = db.Parqueaderoes.Find(parqueaderoUsuarioDetalle.Id_Parq);
            var ltsDocumentos = db.Documento.ToList();
            ltsDocumentos = ltsDocumentos.Where(t => t.Id_Parq == parqueadero.Id_Parq && t.FechaCreacion_Doc.Date == DateTime.Now.Date && t.Estado_Doc == true).ToList();

            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <a class="navbar-brand" href="#">
                    <img src="~/Imagenes/parking-solid.svg" width="30" height="30" class="d-inline-block align-top" />
                    @Html.ActionLink(parqueadero.NombreEmpresa_Parq.ToUpper(), "Index", "Home", new { }, new { @class = "navbar-brand" })
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active" id="idInicioNav">
                            @Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" id="idReporteNav">
                            @Html.ActionLink("Reporte", "Index", "Reportes", new { id = parqueadero.Id_Parq }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" id="idUsuariosNav">
                            @Html.ActionLink("Usuarios", "Index", "Usuarios", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" id="idConfiguracionNav">
                            @Html.ActionLink("Configuracion", "Edit", "Parqueadero", new { id = parqueadero.Id_Parq }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" id="idConfiguracionNav">
                            @Html.ActionLink("Tipo Vehiculos", "Index", "TipoVehiculos", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Html.ActionLink("Usuarios", "Index", "Usuarios", new { }, new { @class = "nav-link" })
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                    </ul>
                    @if (ltsDocumentos.Count > 0)
                    {
                        <form class="form-inline my-2 my-lg-0" id="idDivBuscarPlaca">
                            <input class="form-control mr-sm-2" id="idBuscarPlaca" type="search" placeholder="Buscar Vehiculo" aria-label="Search" title="Ingrese placa para buscar">
                            <button class="btn btn-success my-2 my-sm-0" type="button" onclick="BuscarPlaca()">Buscar</button>
                        </form>
                    }
                </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <a class="navbar-brand" href="#">
                    <img src="~/Imagenes/parking-solid.svg" width="30" height="30" class="d-inline-block align-top" />
                    APP PARQUEADERO
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        }


         <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Desarrollado por Cjs</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/vue")
        @Scripts.Render("~/SBAdmin/js")
        @RenderSection("scripts", required: false)

    </body>*@
</html>
