@model WebParqueadero.Models.Documento
@Html.HiddenFor(m => m.Valor_Doc)
@Html.HiddenFor(m => m.Id_Doc)
@if (!Model.Parqueadero.ModificarValor_Parq)
{
    @Html.HiddenFor(m => m.ValorPagado_Doc)
}
<div class="form-group col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <i class="fas fa-hourglass-start"></i>
            HORA DE LLEGADA :
        </div>
        <div class="col-lg-5">
            @Html.DisplayFor(m => Model.DetalleDocumento.FirstOrDefault().Horas_DDoc, new { @class = "text-left" })
        </div>
    </div>
</div>
<div class="form-group col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <i class="fas fa-hourglass-end"></i>
            TIEMPO DURACIÓN :
        </div>
        <div class="input-group col-lg-5">
            <div class="input-group-prepend">
                @Html.DisplayFor(m => Model.DetalleDocumento.FirstOrDefault().Transcurrido_DDoc, new { @class = "text-left" })
            </div>
        </div>
    </div>
</div>
<div class="form-group col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <i class="fas fa-dollar-sign"></i>
            VALOR :
        </div>
        <div class="input-group col-lg-5">
            <div class="input-group-prepend">
                @if (Model.Parqueadero.ModificarValor_Parq)
                {
                    @Html.EditorFor(model => model.ValorPagado_Doc, new { htmlAttributes = new { @class = "form-control col-sm-12 col-md-12 col-lg-12", placeholder = "Ingrese placa", title = "Ingrese placa", onkeyup = "Cambio();" } })
                }
                else
                {
                    @Html.EditorFor(model => model.ValorPagado_Doc, new { htmlAttributes = new { @class = "form-control col-sm-12 col-md-12 col-lg-12", placeholder = "Ingrese placa", title = "Ingrese placa", onkeyup = "Cambio();", disabled = "disabled" } })
                }
            </div>
        </div>
    </div>
</div>
<div class="form-group col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <i class="fas fa-dollar-sign"></i>
            EFECTIVO :
        </div>
        <div class="input-group col-lg-5">
            <div class="input-group-prepend">
                @Html.TextBox("idEfectivo", 0, new { @class = "form-control col-sm-12 col-md-12 col-lg-12", placeholder = "Ingrese Efectivo", title = "Ingrese Efectivo", onkeyup = "Cambio();" })
            </div>
        </div>
    </div>
</div>
<div class="form-group col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <i class="fas fa-dollar-sign"></i>
            CAMBIO :
        </div>
        <div class="input-group col-lg-5">
            <div class="input-group-prepend">
                @Html.TextBox("idCambio", 0, new { @class = "form-control col-sm-12 col-md-12 col-lg-12", placeholder = "Cambio", title = "Cambio" })
            </div>
        </div>
    </div>
</div>

