@model WebParqueadero.ModelViews.IngresoVehiculoView

@foreach (var item in Model.Documento.OrderBy(t => t.FechaCreacion_Doc.Hour).OrderBy(t => t.Consecutivo).ToList())
{
    <div class="img-thumbnail col-sm-4 col-md-3 col-lg-3 my-1 text-secondary" style="border:2px solid #808080; border-radius:5px" id="idCalculoAutomatico">
        <div class="row">
            <div class="col-sm-12">
                <img src="@string.Format("/Imagenes/{0}.svg", item.Vehiculo.TipoVehiculo.CaracterImagen_TVeh)" alt="Error al cargar la imagen" class="col-sm-12" style="height:200px;color:burlywood" />
                <div>

                </div>
            </div>
            <div class="caption col-12 col-sm-12 col-md-12" id="idCaption">
                <div class="row  bg-secondary">
                    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="far fa-credit-card"></i> PLACA :</h6></div>
                    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-left text-uppercase">@item.Vehiculo.Placa_Veh</h6></div>
                </div>
                <div class="row  bg-secondary">
                    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-hourglass-start"></i> LLEGADA : </h6></div>
                    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-left text-uppercase">@item.DetalleDocumento.FirstOrDefault().Horas_DDoc.ToString("hh:mm")</h6></div>
                </div>
                <div class="row  bg-secondary">
                    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-hourglass-end"></i> TRANSCURRIDO : </h6></div>
                    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-left text-uppercase">@Html.DisplayFor(m => item.DetalleDocumento.FirstOrDefault().Transcurrido_DDoc)</h6></div>
                </div>
                <div class="row  bg-secondary">
                    <div class="col-8 col-sm-8 col-md-8"><h6 class="text-white text-left text-uppercase"><i class="fas fa-dollar-sign"></i> Valor : </h6></div>

                    <div class="col-4 col-sm-4 col-md-4"><h6 class="text-white text-left text-uppercase">@Html.DisplayFor(m => item.Valor_Doc)</h6></div>
                </div>
                <div class="row text-center">
                    <button type="button" id="BotonPost" class="btn btn-outline-secondary btn-block" data-backdrop="static" data-toggle="modal" data-target="@string.Format("#idFacturar_{0}",item.Vehiculo.Placa_Veh.ToUpper())">
                        <i class="fas fa-address-card"></i>
                        FACTURAR
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
