@model WebParqueadero.ModelViews.Imprimir
@using System.Globalization;

<div id="dvContents" style="border: 1px dotted black; padding: 5px; width: 50px; visibility:hidden ">
    <span style="font-size: 10pt; font-weight: bold; font-family: Arial" class="text-center">
        <samp>****************************************</samp><br />
        <samp class="text-center">PARQUEADERO</samp><br />
        <samp>========================================</samp><br />
        <samp class="text-left">NOMBRE: @Model.NombreParqueadero</samp><br />
        <samp class="text-left">NIT: @Model.NitParqueadero</samp><br />
        <samp class="text-left">DIRECCIÓN: @Model.Direccion</samp><br />
        <samp class="text-left">HORARIO: @string.Format("{0} Hasta {1}",Model.HoraApertura.ToShortTimeString(),Model.HoraCierre.ToShortTimeString())</samp><br />
        <samp>****************************************</samp><br />
        <samp class="text-center">VEHICULO</samp><br />
        <samp>========================================</samp><br />
        <samp class="text-left">VEHICULO: @Model.TipoVehiculo</samp><br />
        <samp class="text-left">@string.Format("VALOR POR {0}min", Model.TiempoXVehiculo): @Model.ValorXVehiculo.ToString("C2", CultureInfo.CurrentCulture)</samp><br />
        <samp class="text-left">PLACA: @Model.Placa</samp><br />
        <samp class="text-left">FECHA: @Model.Fecha.ToShortDateString()</samp><br />
        <samp class="text-left">HORA: @Model.Horas.ToShortTimeString()</samp><br />
        @if (Model.Transcurrido != "Inicio")
        {
            <samp class="text-left">DURACIÓN: @Model.Transcurrido</samp><br />
        }
        @if (Model.Casillero)
        {
            if (Model.ValotCasillero > 0)
            {
                <samp class="text-left">OBSERVACIONES: @Model.Observaciones</samp><br />
            }
        }
        @if ((Model.ValorParqueadero > 0) || ((Model.Lavar || Model.Casillero) && (Model.ValotLavar > 0 || Model.ValotCasillero > 0)))
        {
            <samp>****************************************</samp><br />
            <samp>****************************************</samp><br />
        }
        @if (Model.ValorParqueadero > 0)
        {
            <samp class="text-left">VALOR PARQUEADERO: @Model.ValorParqueadero.ToString("C2", CultureInfo.CurrentCulture)</samp><br />
        }
        @if (Model.Lavar)
        {
            if (Model.ValotLavar > 0)
            {
                <samp class="text-left">VALOR LAVADO: @Model.ValotLavar.ToString("C2", CultureInfo.CurrentCulture)</samp><br />
            }
        }
        @if (Model.Casillero)
        {
            if (Model.ValotCasillero > 0)
            {
                <samp class="text-left">VALOR CASILLERO: @Model.ValotCasillero.ToString("C2", CultureInfo.CurrentCulture)</samp><br />
            }
        }
        <samp>****************************************</samp><br />
        <samp>****************************************</samp><br />
        @if (Model.ValotTotal > 0)
        {
            <samp class="text-left">TOTAL: @Model.ValotTotal.ToString("C2", CultureInfo.CurrentCulture)</samp><br />
            <samp>****************************************</samp><br />
            <samp>****************************************</samp>
        }
    </span>
</div>

