@model WebParqueadero.ModelViews.IngresoVehiculoView

@using (Html.BeginForm("Facturar", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12 col-sm-12 col-md-12" }))
{
    <div class="row" id="idautoma">
        @Html.Partial("_CalcularValor", Model)

        @foreach (var item in Model.Documento.OrderBy(t => t.FechaCreacion_Doc.Hour).OrderBy(t => t.Consecutivo).ToList())
        {
            <div class="modal fade" id="@string.Format("idFacturar_{0}",item.Vehiculo.Placa_Veh.ToUpper())" tabindex="-1" role="dialog" aria-labelledby="@string.Format("FacturarLabel_{0}",item.Vehiculo.Placa_Veh.ToUpper())" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="@string.Format("FacturarLabel_{0}",item.Vehiculo.Placa_Veh.ToUpper())">Facturar - @item.Vehiculo.Placa_Veh.ToUpper()</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm-12 col-lg-12 my-lg-1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    Total a Pagar
                                                </div>
                                                <div class="input-group col-lg-12">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroupPrepend">
                                                            <i class="far fa-credit-card"></i>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg btn-outline-danger" data-dismiss="modal">
                                <i class="fas fa-times"></i>
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-lg btn-outline-secondary">
                                <i class="fas fa-file-download"></i>
                                Ingresar Vehiculo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

