@model WebParqueadero.ModelViews.IngresoVehiculoView

<div class="col-12 col-sm-12 col-md-12">
    <div class="row" id="idautoma">
        @if (Model.Documento.Count > 0)
        {
            int CantidaVehiculos = Model.Documento.Where(t => t.VehiculosHoy == false).ToList().Count;
            if (CantidaVehiculos > 0)
            {
                <div class="col-sm-12 card shadow mb-4 border-left-danger border-bottom-danger">
                    <a href="#VehiculosAnteriores" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="VehiculosAnteriores">
                        <h6 class="m-0 font-weight-bold text-danger">
                            Vehiculos de anteriores <span class="badge badge-light" title="@string.Format("Cantidad de vehiculos {0}", CantidaVehiculos)">@CantidaVehiculos</span>
                            <span class="sr-only">unread messages</span>
                        </h6>
                    </a>
                    <div class="collapse show" id="VehiculosAnteriores">
                        <div class="row card-body">
                            @foreach (var item in Model.Documento.Where(t => t.VehiculosHoy == false).OrderBy(t => t.Consecutivo).ToList())
                            {
                                List<string> title = new List<string>();
                                title.Add("VEHICULO: " + item.Vehiculo.TipoVehiculo.Nombre_TVeh.ToUpper());
                                title.Add("PLACA: " + item.Vehiculo.Placa_Veh.ToUpper());
                                title.Add("FECHA: " + item.FechaCreacion_Doc.ToShortDateString());
                                if (item.Parqueadero.Lavar)
                                {
                                    if (item.ValorLavado > 0)
                                    {
                                        title.Add("VALOR LAVADO: " + item.ValorLavado);
                                    }
                                }
                                if (item.Parqueadero.Casillero)
                                {
                                    if (item.ValorCasillero > 0)
                                    {
                                        title.Add("VALOR CASILLERO: " + item.ValorCasillero);
                                        title.Add("OBSERVACION:" + item.Observaciones);
                                    }
                                }

                                <div class="img-thumbnail col-sm-4 col-md-4 col-lg-4 my-1 text-secondary" style="border:2px solid #808080; border-radius:5px" id="idCalculoAutomatico" title="@string.Join(Environment.NewLine,title)">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12">
                                            <h3 class="text-uppercase text-center text-md-center text-sm-center text-lg-center text-black-50">
                                                <strong>
                                                    @Html.DisplayFor(m => item.Vehiculo.Placa_Veh)
                                                </strong>
                                                @if (item.Parqueadero.Lavar)
                                                {
                                                    if (item.ValorLavado > 0)
                                                    {
                                                        <i class="fab fa-slack" title="VALOR LAVADO: @item.ValorLavado"></i>
                                                    }
                                                }
                                                @if (item.Parqueadero.Casillero)
                                                {
                                                    if (item.ValorCasillero > 0)
                                                    {
                                                        <i class="fas fa-door-closed" title="@string.Format("VALOR CASILLERO: {0}{2}OBSERVACION: {1}", item.ValorCasillero, item.Observaciones, Environment.NewLine)"></i>
                                                    }
                                                }
                                            </h3>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <img src="~/@string.Format("Imagenes/{0}.svg", item.Vehiculo.TipoVehiculo.CaracterImagen_TVeh)" alt="Error al cargar la imagen" class="col-sm-12" style="height:200px" />
                                        </div>
                                        <div class="caption col-12 col-sm-12 col-md-12">
                                            <div id="@item.Id_Doc">
                                                @Html.Partial("_CalcularValorViewPartial", item)
                                            </div>
                                            <div class="row text-center">
                                                <button type="button" id="BotonPost" class="btn btn-outline-secondary btn-block" data-backdrop="static" data-toggle="modal" data-target="idFacturar" onclick="ViewModalFacturar('@item.Id_Doc')">
                                                    <i class="fas fa-address-card">
                                                    </i>
                                                    FACTURAR
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            foreach (var item in Model.Documento.Where(t => t.VehiculosHoy == true).OrderBy(t => t.Consecutivo).ToList())
            {
                List<string> title = new List<string>();
                title.Add("VEHICULO: " + item.Vehiculo.TipoVehiculo.Nombre_TVeh.ToUpper());
                title.Add("PLACA: " + item.Vehiculo.Placa_Veh.ToUpper());
                title.Add("FECHA: " + item.FechaCreacion_Doc.ToShortDateString());
                if (item.Parqueadero.Lavar)
                {
                    if (item.ValorLavado > 0)
                    {
                        title.Add("VALOR LAVADO: " + item.ValorLavado);
                    }
                }
                if (item.Parqueadero.Casillero)
                {
                    if (item.ValorCasillero > 0)
                    {
                        title.Add("VALOR CASILLERO: " + item.ValorCasillero);
                        title.Add("OBSERVACION: " + item.Observaciones);
                    }
                }

                <div class="img-thumbnail col-sm-4 col-md-3 col-lg-3 my-1 text-secondary" style="border:2px solid #808080; border-radius:5px" id="idCalculoAutomatico" title="@string.Join(Environment.NewLine,title)">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <h3 class="text-uppercase text-center text-md-center text-sm-center text-lg-center text-black-50">
                                <strong>
                                    @Html.DisplayFor(m => item.Vehiculo.Placa_Veh)
                                </strong>
                                @if (item.Parqueadero.Lavar)
                                {
                                    if (item.ValorLavado > 0)
                                    {
                                        <i class="fab fa-slack" title="VALOR LAVADO: @item.ValorLavado"></i>
                                    }
                                }
                                @if (item.Parqueadero.Casillero)
                                {
                                    if (item.ValorCasillero > 0)
                                    {
                                        <i class="fas fa-door-closed" title="@string.Format("VALOR CASILLERO: {0}{2}OBSERVACION: {1}", item.ValorCasillero, item.Observaciones, Environment.NewLine)"></i>
                                    }
                                }
                            </h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <img src="~/@string.Format("Imagenes/{0}.svg", item.Vehiculo.TipoVehiculo.CaracterImagen_TVeh)" alt="Error al cargar la imagen" class="col-sm-12" style="height:200px;color:burlywood" />
                        </div>
                        <div class="caption col-12 col-sm-12 col-md-12">
                            <div id="@item.Id_Doc">
                                @Html.Partial("_CalcularValorViewPartial", item)
                            </div>
                            <div class="row text-center">
                                <button type="button" id="BotonPost" class="btn btn-outline-secondary btn-block" data-backdrop="static" data-toggle="modal" data-target="idFacturar" onclick="ViewModalFacturar('@item.Id_Doc')">
                                    <i class="fas fa-address-card">
                                    </i>
                                    FACTURAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 href="#" class="col-12 text-center text-decoration-none text-secondary my-5 text-uppercase">No hay vehiculos ingresados</h4>
        }
    </div>
</div>

