@model WebParqueadero.ModelViews.IngresoVehiculoView
 @using WebParqueadero.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 container my-2">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-10 my-2">
                    <button type="button" class="btn btn-sm btn-dark">
                        Total Vehiculos <span class="badge badge-light">@Model.Documento.Count</span>
                    </button>
                </div>
                <div class="offset-1 offset-sm-2 offset-md-1" title="Ingresar Vehiculo">
                    <button type="submit" class="btn btn-lg btn-outline-dark rounded-circle" data-backdrop="static" data-toggle="modal" data-target="#IngresoVehiculo">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
        </div>
        @Html.Partial("_FacturarVehiculoViewPartial", Model)
    </div>
    @Html.Partial("_IngresoVehiculosViewPartial", Model)
    @{ 
         if (Model.Documento.Count <= 0)
            {
                Model.Documento.Add( new Documento {
                    Id_Doc = Guid.NewGuid(), 
                    Parqueadero = new Parqueadero(),
                    DetalleDocumento = new List<DetalleDocumento>(),
                    Vehiculo = new Vehiculo()
                });
            }
    }
    <div id="idModalFactiurar">
        @Html.Partial("_ModalFacturarViewPartial", Model.Documento.FirstOrDefault())
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function Cambio() {
            var efect = parseInt($("#idEfectivo").val());
            var valor = parseInt($("#ValorPagado_Doc").val());
            if (isNaN(efect) || isNaN(valor)) {
                $("#idCambio").val(0);
            } else {
                var resultado = efect - valor;
                $("#idCambio").val(resultado);
            }
        }


        function CalculoAutomatico() {
            var caption = document.querySelectorAll('#Id_Doc');

            for (var i = 0; i < caption.length; i++) {
                var id = caption[i].value;
                var urlCalculoActomatico = ('@Url.Action("CalculoActomatico", "Home")' + '?Id_Doc=' + id);

                $.ajax({
                    type: "GET",
                    url: urlCalculoActomatico,
                    async: false,
                    success: function (data) {
                        $("#" + id).empty();
                        $("#" + id).html(data);

                    }
                });
            }
        }


        function ViewModalFacturar(id) {
            var urlAsignarValor = ('@Url.Action("ViewModalFacturar", "Home")' + '?Id_Doc=' + id);
            console.log(urlAsignarValor);
            $.ajax({
                type: "GET",
                url: urlAsignarValor,
                async: false,
                success: function (data) {
                    $("#idModalFactiurar").empty();
                    $("#idModalFactiurar").html(data);
                    $('#idFacturar').modal('show');
                    //$("#idFacturar").css({ "padding-right": "17px", "display": "block" });
                }
            });
        }

        setInterval("CalculoAutomatico()", 3000);
    </script>
}