@model WebParqueadero.ModelViews.IngresoVehiculoView
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 container my-2">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-10 my-2">
                    <button type="button" class="btn btn-sm btn-dark">
                        Total Vehiculos <span class="badge badge-light">@Model.Documento.Count</span>
                    </button>
                </div>
                <div class="offset-1 offset-sm-2 offset-md-1" title="Ingresar Vehiculo">
                    <button type="submit" class="btn btn-lg btn-outline-dark rounded-circle" data-backdrop="static" data-toggle="modal" data-target="#IngresoVehiculo">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
        </div>
        @Html.Partial("_FacturarVehiculoView", Model)
    </div>
    @Html.Partial("_IngresoVehiculosView", Model)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function CalculoAutomatico() {
        @*var url = '@Html.PagedListPager(Model, page => Url.Action("index", new { page, sortOrde = ViewBag.CurrentSort, currentFiltre = ViewBag.CurrentFiltre }))';*@
            var url = '@Url.Action("CalculoActomatico", "Home")';
            $.get(url, function (data) {
                $("#idautoma").empty();
                $("#idautoma").html(data);
                console.log(data);
        });
        }

            setInterval("CalculoAutomatico()", 2000);
    </script>
}